language: scala
sudo: false
scala:
- 2.12.8
- 2.11.12
- 2.13.0-M5
script:
- sbt scalafmtSbtCheck scalafmtCheck test:scalafmtCheck "++ ${TRAVIS_SCALA_VERSION}!" test example/compile:runAll
jdk:
- oraclejdk8
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/launchers"
before_cache:
- find $HOME/.ivy2/cache -name "ivydata-*.properties" | xargs rm
- find $HOME/.ivy2/cache -name "*SNAPSHOT*" | xargs rm -rf
matrix:
  include:
  - scala: 2.12.8
    jdk: openjdk11
  - scala: SCALA_NATIVE
    sudo: required
    before_install:
    - curl https://raw.githubusercontent.com/scala-native/scala-native/v0.3.8/scripts/travis_setup.sh | bash -
    script:
    - sbt scalafmtSbtCheck scalafmtCheck test:scalafmtCheck native/test
