name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 13 * * 6'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - args: '"+optparseApplicativeJVM/test" "+example/compile:runAll" "+publishLocal"'
          - args: '"+optparseApplicativeJS/test"'
          - args: '"++ 2.11.12!" optparseApplicativeNative/test'
            name: scala-native
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.8"
    - uses: coursier/cache-action@v5
    - run: if [[ "${{ matrix.name }}" == "scala-native" ]] ; then ./.github/scala-native-setup.sh ; fi
    - run: sbt -v scalafmtSbtCheck scalafmtCheckAll ${{ matrix.args }}
    - run: rm -rf ~/.ivy2/local
